*{
	margin: 0;
	padding: 0;
	font-family: 'Baloo Thambi 2', cursive;
}
body{
	background: black;
}
html {
	scroll-behavior: smooth;
}
main{
	width: 90%;
	margin: auto;
	margin-top: 30px;
	height: auto;
	box-shadow: 0px 0px 10px 4px grey;
	background: white;
    margin-bottom: 30px;
    padding-bottom: 85px;
}
nav{
	width: 100%;
	background: white;
}
nav ul{
	display: flex;
	width: 100%;
	background: #E5E4E4;
	justify-content: space-around;
	height: 50px;
	list-style-type: none;
	align-items: center;
}
nav ul li a{
	text-decoration: none;
	color: #232323;
	padding: 10px;
	transition: 0.2s ease;
	font-size: 1.1rem;
	font-weight: bold;
}
nav ul li a:hover{
	color: red;
}
.hero{
	text-align: center;
	margin-top: 30px;
	font-weight: 100;
	margin-bottom: 0px;
	font-size: 50px;
}

.toggle-btn{
	display: none;
}

.btn-div{
	width: 100%;
	text-align: center;
	padding: 30px 0px 30px 0px;
}
.button{
	padding: 8px 18px;
	background: linear-gradient(45deg, #41FFDE, #5858FB);
	box-shadow: 0px 1px 5px 1px grey;
	text-decoration: none;
	color: white;
	border-radius: 40px;
	margin: auto;
	transition: 0.5s ease;
}
.button:active{
	box-shadow: none;
}
.pp{
	border-radius: 50%;
	height: 200px;
	width: 200px;
	box-shadow: 0px 0px 5px 2px grey;
}
.profile{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	align-items: center;
}
.profile .bio{
	width: 60%;
	padding: 40px;
}
.profile .social{
	display: flex;
	padding: 15px 0px;
	justify-content: space-around;
	width: 25%;
	margin-bottom: 10px;
	margin-top: 50px;
}
.profile .social a{
	color: black;
	transition: 0.4s ease;
	font-size: 30px;
}
.profile .social a:hover{
	color: lime;
}
.portraits, .cc, .litpen, .sicw, .ccr{
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.portraits h1, .cc h1, .litpen h1, .sicw h1, .rs h1, .ccr h1{
	padding: 8px 0px 8px 0px;
	width: 100%;
	text-align: center;
	background: #FFE039;
	margin-top: 30px;
	margin-bottom: 30px;
}
.portraits .row, .cc .row, .litpen .row, .sicw .row, .rs .row, .ccr .row{
	width: 100%;
	margin-bottom: 30px;
	display: flex;
	justify-content: space-around;
}
.portraits section img, .cc section img, .litpen section img, .sicw section img, .rs section img, .ccr section img{
	height: 220px;
	width: 220px;
	margin: auto;
}
.portraits section p, .cc section p, .litpen section p, .sicw section p, .rs section p, .ccr section p{
	font-size: 1.1rem;
	font-weight: bold;
	background: #B6E9FD;
	padding: 8px;
}
#frow{
	margin-top: 40px;
}
.card{
	display: flex;
	width: 300px;
	height: 300px;
	margin: auto;
	font-size: 20px;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px 5px grey;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}
.card p{
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.card a {
	text-decoration: none;
	color: black;
	transition: 0.3s ease;
}
.card a:hover{
	color: #FF3A00;
}














@media only screen and (max-width: 700px) {
	main{
		width: 96%;
	}
	.hero{
		font-size: 3.5rem;
		margin-bottom: 20px;
		width: 98%;
	}
	.note{
		font-size: 1.1rem;
	}
	.toggle-btn{
		display: block;
		cursor: pointer;
		width: 30px;
		text-align: center;
	}
	nav ul{
		display: none;
	}
	nav.active{
		height: 230px;
		margin-bottom: 100px;

	}
	nav.active ul{
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		background: #E5E4E4;
	}
	.button{
		padding: 10px 22px;
		transition: 0.5s ease;
	}
	.button:active{
		box-shadow: none;
	}
.profile .social{
	display: flex;
	padding: 15px 0px;
	justify-content: space-around;
	width: 45%;
  }
  .profile .social a{
  	font-size: 30px;
  }

  .portraits .row, .cc .row, .sicw .row, .litpen .row, .sw .row, .rs .row, .ccr .row{
  	flex-direction: column;
  	justify-content: space-around;
  	align-items: center;
  	margin-bottom: 0px;
  }
  .portraits section, .cc section, .litpen section, .sicw section, .rs section, .ccr section{
  	width: 70%;
  	text-align: center;
  	margin-bottom: 30px;
  }
  .portraits section img, .cc section img, .litpen section img, .sicw section img, .rs section img, .ccr section img{
	width: 100%;
	height: 70%;
	margin-bottom: 0px;
  }
  .card{
  	width: 78%;
  }
}